<section id="home">
	<div class="col-sm-6">
	<div ui-ace="{showGutter: true,
  theme:'dawn', mode:'javascript',onLoad : aceLoaded,useWrapMode:true}" ng-model="aceValue"></div>
    </div>
    <div class="col-sm-2 lefter">
    <p class="headier">Spoken</p>
    <p>Start:{{pureText}}</p>
    </div>
	<div class="col-sm-4 comm">
	<div class="row">
	<p class="headier">Commands</p>
	</div>
	<div class="row">
	<p> Test: Create variable hello=5</p>
	<p>Test: Create fun [operation] with parameters [hello] and [world], stop.
	variable result = hello times world semi return result </p>
	<p>Test: Editor move to line 2 </p>
	<p>Test: Create express [name] [verb] [route]</p>
	<p> Test: Create objector [name] with [var] equals 5 comma [var] equals 10</p>
	<p>Literal: plus minus dot parentheses</p>
	<p>Create:Function,array,object,variable</p>
	<p>Editor:Move[to end][to line #],find,replace [text] with [text],all(wipe clean)</p>
	<p>Literal: For commands that are not contained e.g .push()</p>
	<p>Predefined Terms: plus,minus, modulo etc</p>
	<button ng-click="changeSpeak()"> Click me to {{currentSpeaking}}</button>
	</div>
	</div>
   
</section>
